html, body {
  color: #333333;
  height: 100%;
}

.row {
	height: 100%;
}

.edit {
  color: white;
}

.edit:hover {
  color: white;
}

.col-md-12, .col-md-4, .col-md-8 {
  padding: 10px;
}

.col-md-6 {
  height: 100%;
}

.caption {
  position: absolute;
  text-align: center;
}

.parallax2, .jumbotron {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax1 {
    background-image: url('mountains2.jpg');
}

.parallax2 {
    background-image: url('cat.jpg');
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

#right{
  position: absolute;
  top: 8px;
  right: 16px;
}

/*.site-header .navbar-nav .nav-link {*/
  /*color: black;*/
/*}*/

.site-header .navbar-nav .nav-link:hover {
  color: #757575;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.nav-bar {
  background: blue;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

article {
  height: 100%;
}

.article-title {
  color: #444444;
}

/*a.article-title:hover {*/
  /*color: #428bca;*/
  /*text-decoration: none;*/
/*}*/

.article-content {
  white-space: pre-line;
}

/*.article-img {*/
  /*height: 65px;*/
  /*width: 65px;*/
  /*margin-right: 16px;*/
/*}*/

/*.article-metadata {*/
  /*padding-bottom: 1px;*/
  /*margin-bottom: 4px;*/
  /*border-bottom: 1px solid #e3e3e3*/
/*}*/

/*.article-metadata a:hover {*/
  /*color: #333;*/
  /*text-decoration: none;*/
/*}*/

/*.account-img {*/
  /*height: 125px;*/
  /*width: 125px;*/
  /*margin-right: 20px;*/
  /*margin-bottom: 16px;*/
/*}*/

.account-heading {
  font-size: 2.5rem;
}