{% extends "layout.jinja2" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
	        <p>Welcome to Lesson Finder! This site is here to help you find various classes or lessons for activities ranging from
	        sports, art, music, and more. You can register to reserve your spot and leave any time before the provided deadline.</p>

            <p>If you have any questions about a specific lesson, feel free to contact the administrator for that lesson. If you have any questions
            about Lesson Finder, please contact at 555-555-5555 or email us at lessonfinder@mail.com.</p>
        </div>
    </div>
{% endblock content %}
