{% extends "layout2.jinja2" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <h4 class="article-content">{{ lesson.name }}</h4>
                <h5>Location: {{ lesson.location }}</h5>
                <h5>Instructor: {{ lesson.instructor }}</h5>
                <p class="font-weight-light">The contact for this lesson is {{ lesson.contactEmail }} and it is hosted by
                    {{ lesson.organization.name }}. For more information, feel free to send an email.</p>
                <p class="font-weight-light">{{ lesson.desc }}</p>
                <p class="font-weight-light">This class starts on {{ lesson.startDate }} and ends on {{ lesson.endDate }}.
                It will be from {{ lesson.startTime }} to {{ lesson.endTime }}</p>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Unregister</button>
                <button type="button" class="btn btn-info btn-sm m-1">
                    <a class="nav-item nav-link" href="{{ request.route_url('edit_registration', dep_id=dependent) }}">
                        Edit Registration Information
                    </a>
                </button>
        </div>
    </article>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Unregister from lesson?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ request.route_url('unregister_dep', lesson_id=lesson.id, dep_id=dependent) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}