{% extends "layout2.jinja2" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="{{ request.route_url('edit_profile', id=user.id, request=request) }}">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Edit Information</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <button class="btn btn-outline-info btn-sm">
                <a class="nav-item nav-link" href="{{ request.route_url('profile', id=user.id) }}">
                    Cancel
                </a>
            </button>
        </form>
    </div>
{% endblock content %}
