{% extends "layout2.jinja2" %}
{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="content-section">
            <div class="row">
                <div class="col-md-4">
                    <h2>Profile Picture</h2>
                </div>
                <div class="col-md-8">
                    <h2 class="list-group-item">Information</h2>
                    <li class="list-group-item" name="fName">First Name: {{ user.fName }}</li>
                    <li class="list-group-item" name="lName">Last Name: {{ user.lName }}</li>
                    <li class="list-group-item" name="lName">Username: {{ user.username }}</li>
                    <li class="list-group-item" name="email">Email: {{ user.email }}</li>
                </div>
            </div>
            <div  class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-info btn-sm">
                        <a class="nav-item nav-link" href="{{ request.route_url('edit_profile', id=user.id) }}">
                            Change Username
                        </a>
                    </button>
                </div>
            </div>
            <!--TODO: Change this to look better-->
            <div class="row">
                <div class="col-md-12">
                    <h3>Your classes.</h3>
                </div>
            </div>
            <div class="row">
                {% for lesson in user.lessons %}
                <div class="col-md-6">
                    <!--if not registered for classes, show message, else show registered classes-->
                    <article class="media content-section">
                        <div class="media-body">
                            <h5 class="article-content">{{ lesson.name }}</h5>
                            <p class="font-weight-light">Start/End Date: {{ lesson.startDate }} to {{ lesson.endDate }}</p>
                            <p class="font-weight-light">Time: {{ lesson.startTime }} - {{ lesson.endTime }}</p>
                            <button class="btn btn-outline-info btn-sm">
                                <a class="nav-item nav-link" href="{{ request.route_url('lesson_info', lesson_id=lesson.id) }}">
                                    View Information/Unregister
                                </a>
                            </button>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <h3>Dependent's Lessons.</h3>
            </div>
            <div class="row">
                {% for dependent in user.dependents %}
                    <div class="col-md-12">
                        <h5>{{ dependent.fName }} {{ dependent.lName }} is registered for:</h5>
                    </div>
                    {% for lesson in dependent.lessons %}
                    <div class="col-md-6">
                        <!--if not registered for classes, show message, else show registered classes-->
                        <article class="media content-section">
                            <div class="media-body">
                                <h5 class="article-content">{{ lesson.name }}</h5>
                                <p class="font-weight-light">Start/End Date: {{ lesson.startDate }} to {{ lesson.endDate }}</p>
                                <p class="font-weight-light">Time: {{ lesson.startTime }} - {{ lesson.endTime }}</p>
                                <button class="btn btn-outline-info btn-sm">
                                    <a class="nav-item nav-link" href="{{ request.route_url('dep_lesson_info', lesson_id=lesson.id, dep_id=dependent.id) }}">
                                        View Information/Unregister
                                    </a>
                                </button>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button class="btn btn-outline-info">
                        <a class="nav-item nav-link" href="/search">
                            Search/Register
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </meta>
{% endblock content %}