{% extends "layout2.jinja2" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search for a Lesson</legend>
                <small class="text-muted">
                    Please enter a start date and a start time.
                </small>
                <div class="form-group pt-3">
                    <label class="form-control-label" for="location">Location</label>
                    <input name="location" class="form-control form-control-lg" id="location" type="text" value=""/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="organization">Organization</label>
                    <input name="organization" class="form-control form-control-lg" id="organization" type="text" value=""/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="startDate">Start Date</label>
                    <input name="startDate" class="form-control form-control-lg" id="startDate" type="date" value=""/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="startTime">Start Time</label>
                    <input name="startTime" class="form-control form-control-lg" id="startTime" type="time" value=""/>
                </div>
                <div class="form-group pt-3">
                    <label class="form-control-label" for="day">Day of the Week</label>
                    <select name="day" class="form-control form-control-lg" id="day">
                        <option value="None" select="">None</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </div>
                <div class="form-group">
                  <label class="form-control-label" for="level">Level</label>
                    <select name="level" class="form-control form-control-lg" id="level">
                        <option value="None" select="">None</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </fieldset>
            <div class="form-group">
                <input name="submit" class="btn btn-outline-info" id="submit" type="submit" value="Search"/>
            </div>
        </form>
    </div>
{% endblock content %}
